{% extends 'layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    {% for attendee in form.attendees %}
        <div>
            <h3>#SIGN{{ attendee.vars.data.tag|signatureSlot }}#</h3>
            {{ form_row(attendee) }}
            <button type="button" onclick="fillAdmin({{ attendee.vars.name }});">Admin</button>
        </div>
    {% endfor %}
    {{ form_rest(form) }}
    <input type="submit" value="Envoyer" />
    {{ form_end(form) }}

    {% include 'components/_clear_session_btn.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script>
        let rdsAdmin = {
            "firstname": "{{ form.vars.data.owner.firstname }}",
            "lastname": "{{ form.vars.data.owner.lastname }}",
            "email": "{{ form.vars.data.owner.email }}",
            "organization": "{{ form.vars.data.owner.organization }}"
        };

        function fillAdmin(id) {
            document.getElementById('rds_attendee_attendees_'+id+'_firstname').value = rdsAdmin.firstname;
            document.getElementById('rds_attendee_attendees_'+id+'_lastname').value = rdsAdmin.lastname;
            document.getElementById('rds_attendee_attendees_'+id+'_email').value = rdsAdmin.email;
            document.getElementById('rds_attendee_attendees_'+id+'_organization').value = rdsAdmin.organization;
        }
    </script>
{% endblock %}
