{% extends 'layout.html.twig' %}

{% block content %}
    Bonjour {{ user.firstname }} {{ user.lastname }}
    <h2>{{ rds.subject }}</h2>
    <p>{{ rds.description }}</p>

    {% if is_admin %}
        <p>Participant: <strong>{{ rds.attendees|length }}</strong></p>
        Actuellement {{ progress.signature }} signature(s) sur {{ progress.max }}
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ progress.progress }}%"
                 aria-valuenow="{{ progress.signature }}" aria-valuemin="0" aria-valuemax="{{ progress.max }}"></div>
        </div>
        <div>
            Signataires:
            <ul>
                {% for attendee in rds.attendees %}
                    <li>{{ attendee.firstname }} {{ attendee.lastname }}
                        <a href="{{ url('rds-show', {'token': attendee.token}) }}" target="_blank">{{ url('rds-show', {'token': attendee.token}) }}</a>
                        {% if attendee.slots.first.signedAt %}
                            [Signature ok]
                        {% else %}
                            [Signature en attente]
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <input id="pdf-path" type="hidden" value="{{ vich_uploader_asset(rds.document, 'documentFile') }}">
    <div>
        <button id="prev">Previous</button>
        <button id="next">Next</button>
        &nbsp; &nbsp;<a role="button" href="{{ vich_uploader_asset(rds.document, 'documentFile') }}" target="_blank">Download</a>
        <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
    </div>
     <canvas id="pdf-viewer"></canvas>
    {% if user.tag and user.slots.first.signedAt is null %}
    {# TODO: Update styles for sign canvas#}
    <canvas id="canvas-sign" width="300" height="300" style="border:2px solid black"></canvas>
    <button onclick="javascript:clearArea();return false;">Effacer</button>
    <button onclick="javascript:sendCanvas();return false;">Signer</button>
    {% endif %}

    <script src="{{ asset('js/signEvents.js') }}"></script>
    <script src="{{ asset('js/pdfviewer.js') }}"></script>
{% endblock %}