{% extends 'layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <input type="submit" value="Envoyer" />
    {{ form_end(form) }}

    {% include 'components/_clear_session_btn.html.twig' %}
{% endblock %}
