{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}{% include 'components/_header.html.twig' %}{% endblock %}
    <main class="container">
        {% for label, messages in app.flashes() %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block content %}{% endblock %}
    </main>
{% endblock %}