{% extends 'layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    {{ form_row(form.documentFile) }}
    <input type="submit" value="Envoyer" />
    {{ form_end(form) }}

{% endblock %}
